.dashboard-product-box{
    background-color: #fff;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
}

.create-product-btn{
    position: fixed;
    right: 2rem;
    top: 3.5rem;
    @include square(2.5rem);
    @include flex(row,center,center, 0);
    border-radius : 50%;
    background-color: rgb(201,9,9);
    color: white;
    &:hover{
        opacity: 0.8;
    }
}

// New Product Form Styling

.product-managment{
    @include flex(row,center,center);

    > article{
        // border: 1px solid gray;
        overflow: hidden;
        max-width: 70%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        min-height: 70vh;
        display: flex;        
        border-radius: 10px;
        background: #fff;

        // for add product form
        > .form-head{
            @include flex(row,unset,center,0);
            background-color: blue;
            color: white;
            padding: 0 1rem;
            font-size: 1.5rem;
            >h2{
                text-align: center;
            }
        }

        // for product update form
        .product-info{
            @include flex(column,center,unset,1rem);
            padding: 1rem;
            width: 50%;
            text-align: center;
            position: relative;
            background: #eee;
            > .stock{
                position: absolute;
                right: 1rem;
                top: 1rem;
                color: green;
            }
            > strong{
                font-weight: 300;
                text-align: left;
            }
            > p{
                @include heading;
            }
            > h3{
                font-size: 2rem;
            }
            > img{
                max-width: 100%;
                margin: 1rem 0;
            }
        }
        
        > form{
            padding: 2rem 1rem;
            @include flex(column,unset,center);

            > div{
                width: 100%;
            }
            >button{
                padding: 0.5rem 1rem;
                background: blue;
                color: white;
                border-radius: 10px;
                margin-top: 2rem;
                border: none;
                outline: none;
                font-size: 1.1rem;
                cursor: pointer;
                &:hover{
                    background: rgb(0,144,255);
                }
            }
            >.preview-image{
                width: 10rem;
            }
        }
    }

    // for transaction-managment page
    > section{
        background: white;
        padding: 2rem;
        min-height: 80vh;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        border-radius: 10px;
        > h2{
            text-align: center;
            @include heading;
            margin-bottom: 1rem;
        }
        > .transaction-product-card{
            @include flex(row,unset,center,1rem);
            > img{
                @include square(4rem);
                object-fit: contain;
                border-radius: 5px;
                background: #eee;
            }
            > span{
                margin-left: auto;
            }
        }
    }

    // for shipping-info-card
    > .shipping-info-card{
        min-height: 80vh;
        overflow-y: auto;
        max-width: 300px;
        @include flex(column,unset,unset,0);
        padding: 2rem 1rem 0 1.5rem;
        text-align: start;
        > h1{
            @include heading(2px);
            text-align: center;
        }
        >h5{
            margin: 1rem 0 0 0;
            font-size: 1rem;
            font-weight: 700;
        }
        >p{
            font-size: 0.95rem;
        }
        > button{
            background: rgb(0,144,255);
            color: #fff;
            border: none;
            outline: none;
            padding: 0.5rem;
            border-radius: 10px;
            font-size: 1.1rem;
            margin-top: 1rem;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    
}