.cart {
  padding: 1rem 3rem;
  @include flex(row, unset,unset, 4rem);
  min-height: calc(100vh - 4rem);

  > main {
    width: 70%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > h1 {
      @include heading(2px);
      text-align: center;
    }
  }

  > aside {
    width: 30%;
    height: fit-content;
    padding: 3rem;
    @include flex(column, center, stretch, 1.5rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
    position: sticky;
    right: 1rem;
    top: 5rem;
    border-radius: 10px;

    > input {
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.28);
      outline: none;
      border-radius: 5px;
      margin-top: 2rem;
      font-size: 0.9rem;
      &:focus {
        outline: 2px solid black;
      }
    }

    > p {
      font-size: 1.1rem;
    }
    > .checkout-btn {
      background: #000;
      color: white;
      font-size: 1rem;
      padding: 0.5rem 0;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.cart-item {
  // background: #eee;
  width: 90%;
  margin: 1rem 0;
  padding: 1rem;
  @include flex(row, flex-start, center, 3rem);
  border-radius: 10px;
  transition: background 0.3s;
  &:hover{
    background: #eee;
  }
  > img {
    object-fit: contain;
    @include square(6rem);
  }
  > article {
    @include flex(column, center, flex-start, 10px);
    flex: 1;
    font-size: 1.1rem;
    > a {
      font-weight: 400;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    > span {
      font-weight: 600;
    }
  }

  
  > div {
    @include flex(row, center, baseline, 10px);
    > button {
      padding: 5px 10px;
      border: none;
      outline: none;
      background: #eee;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        background: black;
        color: white;
      }
    }
  }
  
  >button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(233,23,23);
    &:hover{
      color: rgb(148, 7, 7);
    }
  }
}


@media screen and (width <= 850px) and (width > 500px){
  .cart{
    flex-direction: column;
    align-items: center;

    > main, aside{
        width: 80%;
    }
  }
}

@media screen and (width <= 500px){
    .cart{
       flex-direction: column;
       align-items: center;
       
       > main, aside{
         width: 90%;
        
         .cart-item{
            > img{
              height: 3rem;
              width: 3rem;
            }

            flex-wrap: wrap;
         }
        }
    }
}