footer{
    width: 100%;
    min-height: 30vh;
    background: #333;
    // margin-top: 4rem;

    > .main{
        display: flex;
        // align-items: center;
        justify-content: space-around;
        padding: 2rem; 
        
        > .left{
            width: 25%;
            display: flex;
            flex-direction: column;
            .logo{
                display: flex;
                color: rgb(193,23,23);

                > svg{
                    font-size: 2.7rem;
                }
            }   

            > .description{
                font-size: 1rem;
                color: #ccc;
                margin-left: 1rem;
                margin: 1rem auto;
            }
            > .contact-info{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                > li{
                    list-style: none;
                    color: #ccc;
                }
            }
        }
        .right{
            width: 60%;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            margin-top: 3rem;
            > .footer-links{
                color: #ccc;
                > h1{
                    color: #ccc;
                    font-size: 1.4rem;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        height: 3px;
                        width: 100%;
                        left: 0;
                        bottom: -4px;
                        background: rgb(233,23,23,0.5);
                    }
                }
                > ul{
                    list-style: none;

                    > li > a{
                        color: #ccc;
                    }
                }
            }
        }
    }

    .mini{
        width: 100%;
        background: #666;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 5%;
        > .footer-copyright{
            margin: 0;
            color: #eee;
            font-size: 1rem;
        }

        >.social-links{
            display: flex;
            align-items: center;
            gap: 1rem;

            > a{
                color: white;
                opacity: 0.8;
                font-size: 1.1rem;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (width <= 600px){
    footer{
        .main{
            flex-direction: column;
            .left{
                width: 100%;

                >.logo{
                    justify-content: center;
                }

                >.description{
                    width: 75%;
                    text-align: center;
                }

                >.contact-info{
                    align-items: center;
                }
            }

            .right{
                width: 100%;
                flex-direction: column;
                align-items: center;

                >.footer-links {

                    text-align: center;
                    
                    > h1{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}