$red : #DF2935;
$blue : #3772FF;
$yellow : #FDCA40;
$gray : #E6E8E6;
$white : #fff;
$black : #161515;

.header-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: $white;
  .header {
    @include flex(row, space-between, center, 1.2rem);
    padding: 1rem 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    z-index: 100;

    .logo {
      display: flex;
      gap: 5px;
      color: rgb(233, 23, 23);
      text-decoration: none;
      > svg {
        font-size: 2rem;
      }
      > h1 {
        font-size: 1.75rem;
      }
    }

    > .nav-links {
      @include flex(row, unset, center, 2rem);
      > a {
        @include flex(row, unset, center, 5px);
        color: $black;
        letter-spacing: 2px;
        font-size: 1rem;
        position: relative;
        text-decoration: none;
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          background: $red;
          width: 0;
          left: 0;
          bottom: -5px;
          transition: all 0.3s;
        }
        &:hover {
          color: $red;
        }
        &:hover::after {
          width: 100%;
        }
      }

      > .profile {
        width: 5rem;
        position: relative;
        z-index: 10;

        > button {
          @include flex(row, space-between, center, 5px);
          background: transparent;
          outline: none;
          border: none;
          &:hover {
            color: $red;
          }
        }

        > dialog {
          position: absolute;
          left: -40px;
          top: 45px;
          min-width: 160px;
          min-height: 10rem;
          border: none;
          outline: none;
          border-radius: 10px;
          box-shadow: 5px 5px 0 $red;
          z-index: inherit;

          > div {
            padding-top: 1rem;
            @include flex(column, flex-end, center, 1rem);

            a {
              color: black;
            }

            > button {
              display: flex;
              gap: 5px;
              align-items: center;
              background: $red;
              border: none;
              outline: none;
              border-radius: 10px;
              padding: 5px 10px;
              color: $white;
            }
          }
        }
      }

      > .signup-btn {
        padding: 0.35rem 1rem;
        color: white;
        background: $red;
        border: none;
        outline: none;
        display: flex;
        gap: 5px;
        font-size: 1rem;
        cursor: pointer;
        align-items: center;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media screen and (width <= 500px){
    .header-container{
      > .header{
          flex-direction: column;
          .logo {
              svg{
                  font-size: 2rem;
              }

              h1{
                font-size: 1.85rem;
              }
          }
          > .nav-links{
            flex-direction: column;
            
            > a{
                font-size: 1rem;
            }

            >.profile > button{
                font-size: 1rem;
            }
        }

        >.nav-btn{
            border: none;
            outline: none;
            font-size: 1.5rem;
            color: $red;
            background: transparent;
            position: absolute;
            right: 2rem;
            top: 1rem;
        }

      }

    }
}

@media screen and (width < 1024px) and (width > 500px){
    .header-container > .header{
        flex-direction: column;
        > .logo{
            > svg{
                font-size: 3rem;
            }
            > h1{
                font-size: 2.5rem;
            }
        }
        > .nav-links{
            flex-direction: column;
            
            > a{
                font-size: 1.5rem;
            }

            >.profile > button{
                font-size: 1.5rem;
            }
        }

        >.nav-btn{
            border: none;
            outline: none;
            font-size: 2rem;
            color: $red;
            background: transparent;
            position: absolute;
            right: 2rem;
            top: 1rem;
        }
    }
}

.cart-tag{
  &::after{
    content: "";
    height: 8px;
    width: 8px;
    background: rgb(233, 23, 23);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
}