$red : rgb(233,23,23);
$black : rgb(0,0,0,0.7);
$green : rgb(10, 133, 16);

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    > section{
        width: 100%;
    }

    > .title{
        padding: 1rem 2%;
        font-size: 2.5rem;
        margin-top: 2rem;
        font-weight: 600;
        text-align: center;
        @include flex(row,space-between,center,0);
        
        > p{
            text-align: start;
            flex: 1;
        }
        > .findmore{
            font-size: 1rem;
            padding: 0.5rem;
            text-decoration: none;
            border-radius: 10px;
            &:hover{
                background: $red;
                color: #fff;
            }
        }
    }

    > main{
        width: 100%;
        flex : 1;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        margin-bottom: 1rem;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.product-card{
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 210px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.5);
    &:hover{
        text-decoration: none;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
    }
    margin: 1rem;
    
    > a{
        max-height: 60%;
        > img{
            width: 100%;
            height: 100%;
        }
    }

    > .product-card-details{
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        > .description{
            width: 100%;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            > .product-name{
                font-size: 1rem;
                font-weight: bold;
            }

            > .product-price{
                font-size: 1.1rem;
                color: $red;
                font-weight: bold;
            }
        }
        >.cart-btn{
            border: none;
            outline: none;
            background: $red;
            padding: 0.3rem 1rem;
            color: white;
            font-size: 0.90rem;
            cursor: pointer;
            z-index: 10;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
