$red : rgb(233,23,23);
$black : rgb(0,0,0,0.7);
.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #eee;
    > section{
        width: 100%;
    }

    > div{
        padding: 1rem 2%;
        font-size: 2.5rem;
        margin-top: 2rem;
        font-weight: 600;
        text-align: center;
        @include flex(row,space-between,center,0);
        
        > p{
            text-align: center;
            flex: 1;
        }
        > .findmore{
            font-size: 1rem;
            padding: 0.5rem;
            text-decoration: none;
            border-radius: 10px;
            &:hover{
                background: $red;
                color: #fff;
            }
        }
    }

    > main{
        width: 100%;
        flex : 1;
        display: flex;
        gap: 1rem;
        align-items: center;
        overflow-x: auto;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.product-card{
    flex-grow: 0;
        flex-shrink: 0;
    position: relative;
    width: 210px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
    &:hover{
        text-decoration: none;
        >img{
            scale: 0.9;
        }
        > .cart-btn{
            opacity: 1;
        }
    }
    margin: 1rem;

    > img{
        width: 100%;
        transition: all 0.3s;
        max-height: 60%;
    }

    > .cart-btn{
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background: $red;
        color: white;
        transition: all 0.3s;
        &:hover{
            scale: 1.1;
        }
    }

    > .product-details{
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        > .description{
            width: 100%;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            > .product-name{
                font-size: 1rem;
                font-weight: bold;
            }

            > .product-price{
                font-size: 1.1rem;
                color: $red;
                font-weight: bold;
            }
        }
        > .buy-btn{
            border: none;
            outline: none;
            background: $red;
            padding: 0.3rem 1rem;
            color: white;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
