$blue : rgba(0,104,255);

.login{
    height: 75vh;
    overflow-y: auto;
    width: 40vw;
    margin: 2rem auto;
    @include baseShadow();
    border-radius: 10px;
    @include flex(column,unset,center,1);
    padding: 1rem;
    &::-webkit-scrollbar{
        display: none;
    }
    > h1{
        @include heading(2px);
        padding-bottom: 1rem;
    }

    > form{
        width: 100%;
        padding: 1rem;
        @include flex(column,unset,center,2rem);

        >div{
            width: 80%;
            @include flex(row,center,center,0);

            > button{
                @include btn($red,white,1rem);
                font-size : 1.1rem;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        > .login-btn{
            @include btn($red,white,0.7rem 1.5rem);
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 10px;
            &:hover{
                opacity: 0.8;
            }
        }

        > .login-links{
            @include flex(column,center,center,1rem);

            >.link{
                @include flex(row,space-between,center,0.5rem);
                padding: 0.5rem 1rem;
                font-size: 1.1rem;
                > svg{
                    font-size: 2rem;
                }
                > p{
                    margin: 0;
                }
                background: #eee;
                border-radius: 10px;
                cursor: pointer;
                &:hover{
                    background: #ccc;
                }
            }
        }
    }
}

