$red: rgb(233, 23, 23);

.login-container{
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  >.form-card{
    height: 80vh;
    width: 25vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > h1{
      color: #666;
      font-weight: 400;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    > .login-form{
        display: flex;       
        flex-direction: column;
        gap: 1rem;
        width: 80%;

        >div{
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          >label{
            font-size: 1rem;
            font-weight: 400;
            color: #666;
          }

          >select,input{
            width: 100%;
            padding: 0.5rem 1rem;
          }
        }

        >.login-btn{
          border: none;
          outline: none;
          background: rgb(26,95,240);
          padding: 0.5rem 1rem;
          color: white;
          display: flex;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          cursor: pointer;
          margin-top: 1rem;
          &:hover{
            opacity: 0.8;
          }
          >svg{
            background: white;
            font-size: 1.7rem;
          }
        }
    }
  }

}

@media screen and (width <= 500px){
    .login-container{
        > .form-card{
            width: 80vw;
            > .login-form{
              > .login-btn{
                margin-top: 0;
              }
            }
        }
    }
}

@media screen and (width > 500px) and (width < 850px) {
  .login-container{
    > .form-card{
        width: 50vw;
        > .login-form{
          > .login-btn{
            margin-top: 0;
          }
        }
    }
}
}